
.hero {
    padding: 120px 10px 0 10px;
    min-height: 100vh;
    background: linear-gradient(160deg, rgba(0, 94, 82, 1) 42%, rgba(28, 186, 164, 1) 98%, rgba(29, 188, 166, 1) 82%);
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1s ease forwards 0.3s;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content h4 {
    font-size: 16px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.content h2 {
    font-size: 20px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.content .hero-title {
    font-size: 55px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--span-color);
    margin: 0;
    display: inline-block;
    font-family: var(--font-family);
}

#text {
    color: aliceblue;
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 1.05em;
    background: var(--span-color);
    margin-left: 6px;
    vertical-align: bottom;
}

.content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    padding-right: 30px;
    color: var(--p-color);
}

.content .btn {
    padding: 12px 30px;
    background-color: transparent;
    border: var(--border-color);
    color: var(--text-color);
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: fit-content;
    margin-top: 14px;
}

.content .btn:hover {
    background: var(--span-color);
    color: var(--btn-text);
    transform: translateY(-4px);
}


.hero-image {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

/* #parallaxImg {
    width: 455px;
    max-width: 100%;
    transition: transform 0.3s ease-out;
    will-change: transform;
} */

/* BACKGROUND FLOATING ANIMATION */
/* @keyframes floatBlob {
    0% {
        transform: translate(-30px, -20px) scale(1);
    }

    50% {
        transform: translate(30px, 10px) scale(1.15);
    }

    100% {
        transform: translate(-20px, 30px) scale(1.05);
    }
} */

.hero-image img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .hero {
        padding: 90px 5px;
    }

    .hero .container {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .content {
        margin-top: 0;
        justify-content: center;
        width: 100%;
    }

    .content p {
        padding-right: 0;
    }

    .content p span {
        display: none;
    }

    .content .hero-title {
        font-size: 35px;
    }

    .hero-image {
        width: 90%;
    }

    #text {
        font-family: var(--font-family);
    }
}