.hero {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 80px 100px 0px 100px;
     min-height: 100vh;
     gap: 60px;
     background: #005e52;
     background: linear-gradient(160deg, rgba(0, 94, 82, 1) 42%, rgba(28, 186, 164, 1) 98%, rgba(29, 188, 166, 1) 82%);

 }

 .content {
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 15px;
     margin-top: 70px;
     opacity: 0;
     transform: translateY(30px);
     animation: fadeUp 1s ease forwards 0.5s;
 }

 @keyframes fadeUp {
     to {
         opacity: 1;
         transform: translateY(0);
     }
 }

 .content h4 {
     font-size: 16px;
     color: var(--text-color);
     display: flex;
     align-items: center;
     gap: 8px;
     font-weight: 500;
 } .content h2 {
     font-size: 20px;
     color: var(--text-color);
     display: flex;
     align-items: center;
     gap: 8px;
     font-weight: 500;
 }

 .content h1 {
     font-size: 48px;
     font-weight: 600;
     line-height: 1.2;
     color: var(--text-color);
 }

 .content h1 span {
     display: inline-block;
     background: var(--hover-color);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: gradientMove 3s linear infinite;
     background-size: 200%;
     transition: transform 0.5s ease, opacity 0.5s ease;
 }

 @keyframes gradientMove {
     0% {
         background-position: 0%;
     }

     100% {
         background-position: 100%; 
     }
 }

 .slide-down-in {
     animation: slideDownIn 0.6s ease forwards;
 }

 .slide-up-out {
     animation: slideUpOut 0.6s ease forwards;
 }

 @keyframes slideDownIn {
     0% {
         opacity: 0;
         transform: translateY(-30px);
     }

     100% {
         opacity: 1;
         transform: translateY(0);
     }
 }

 @keyframes slideUpOut {
     0% {
         opacity: 1;
         transform: translateY(0);
     }

     100% {
         opacity: 0;
         transform: translateY(-30px);
     }
 }

 .content p {
     font-size: 16px;
     font-weight: 500;
     line-height: 1.3;
     color: var(--p-color);
 }

 .content .btn {
     padding: 12px 30px;
     background-color:transparent;
     border: 2px solid #ffcc00;
     color: var(--text-color);
     font-weight: 600;
     border-radius: 50px;
     cursor: pointer;
     transition: all 0.3s ease;
     width: fit-content;
 }

 .content .btn:hover {
     background:var(--hover-color);
     color:var(--btn-text);
     transform: translateY(-4px);
 }

 .image {
     display: flex;
     justify-content: center;
     overflow: hidden;
     flex-direction: column;
     align-items: center;
     position: relative;
 }

 .image img {
     width: 455px;
     max-width: 100%;
     transition: transform 0.8s ease, filter 0.8s ease;
     transform-origin: center center;
     z-index: 1;
     position: relative;
 }

 @media (max-width: 768px) {
     .hero {
         flex-direction: column-reverse;
         text-align: left;
         padding: 120px 20px 30px 20px;
         gap: 15px;
     }

     .content {
         margin-top: 10px;
         justify-content: center;
     }

     .content h1 {
         font-size: 39px;
     }

     .image img {
         width: 300px;
     }
 }