  header {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1200px;
        background: transparent;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        transition: var(--transition);
        z-index: 1000;
        /* background: #248282; */
    }

    header.scrolled {
        background: #248282;
        background: linear-gradient(3deg, rgba(36, 130, 130, 1) 26%, rgba(22, 105, 105, 1) 100%, rgba(74, 120, 120, 1) 59%);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        width: 95%;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }

    .logo img {
        height: 60px;
        width: 100%;
    }

    header.scrolled .logo img {
        height: 40px;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 40px;
    }

    nav a {
        position: relative;
        text-decoration: none;
        color: var(--main-color);
        font-size: 1rem;
        font-weight: 500;
        transition: var(--transition);
    }

    nav a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: var(--hover-color);
        transition: width 0.3s ease;
    }

    nav a:hover {
        color: var(--hover-color);
    }

    nav a:hover::after {
        width: 100%;
    }

    .btn-talk {
        padding: 12px 30px;
        border: none;
        background-color: var(--hover-color);
        border-radius: 50px;
        color: var(--btn-text);
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
        width: fit-content;
    }

    .btn-talk:hover {
        color:#248282;
    transform: translateY(-4px);
    }

    /*  Mobile Menu */
    .menu-toggle {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 30px;
        height: 25px;
        cursor: pointer;
        z-index: 1001;
    }

    .menu-toggle span {
        display: block;
        width: 100%;
        height: 3px;
        background: var(--hover-color);
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translateY(8px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translateY(-8px);
    }

    @media (max-width: 768px) {
        nav {
            position: fixed;
            top: 0;
            right: -100%;
            width: 70%;
            height: 100vh;
            background: var(--nav-bg-color);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: var(--transition);
        }

        nav.open {
            right: -20px;
        }

        nav ul {
            flex-direction: column;
            gap: 30px;
        }

        .menu-toggle {
            display: flex;
        }

        .btn-talk {
            display: none;
        }
    }
