.about {
    padding: 90px 40px;
    background: #004343;
    min-height: 650px;
}

.about-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.about-image img {
    width: 100%;
    max-width:410px;
    height: auto;
    aspect-ratio: 410 / 547;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    box-shadow: 0 0 40px hwb(172 0% 63%);
}

.about-image img:hover {
    box-shadow: 0 0 20px rgba(245, 255, 57, 0.28);
}

.about-content {
    flex: 1.2;
    color: #fff;
    text-align: left;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-content h2 {
    font-size: 40px;
    font-weight: 600;
    color: var(--main-color);
}

.about-content h2 span {
    background: var(--span-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pragraph {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pragraph p {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: var(--p-color);
    min-height: 90px;
}

.pragraph strong {
    color: var(--hover-color);
}

.about-content .btn-know {
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: 600;
    border: 2px solid #ffcc00;
    background: transparent;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.about-content .btn-know:hover {
    transform: translateY(-4px);
    background: var(--hover-color);
    color: var(--btn-text);
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .about {
        padding: 60px 10px;
    }

    .about-layout {
        flex-direction: column;
        text-align: center;
    }

    .about-content {
        padding-right: 0px;
    }

    .about-content h2 {
        font-size: 2rem;
    }

    .about-image img {
        width: 260px;
    }
}