 :root {
     --text-color: #fff;
     --bg-color: #004343;
     --hover-color: #ffcc00;
     --span-color:#fdd526;
     --btn-text: #0b7c6d;
     --p-color: #cfcfcf;
     --nav-bg-color:#005e52;
     --font-family: "Poppins", sans-serif;
     --transition: 0.3s ease;
     --background-card: #08584d87;
     --border-color:2px solid #fdd526;
     --new-btn-text: #003b3b;
     --background: linear-gradient(160deg, rgba(0, 94, 82, 1) 42%, rgba(28, 186, 164, 1) 98%, rgba(29, 188, 166, 1) 82%);
     
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 body{
    background: linear-gradient(200deg, #0f111a, #1b1f2b);
    font-family: var(--font-family) ;
    color: var(--text-color);
 }

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
html {
  scroll-behavior: smooth;

}

h1 {
  font-size: 56px;
  line-height: 1.2;
  margin: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 34px;
  }
}