<footer class="footer">
    <div class="container footer-top">
        <div class="first-footer">

            <div class="footer-col">
              <a href="/">  <img src="/assets/images/logo.svg" alt="Logo" class="footer-logo"> </a>

                <div class="footer-social">
                    <a href="https://github.com/ratnadeepdatta" target="_blank" rel="noopener noreferrer"><img src="assets/icons/github.svg" alt="GitHub"></a>
                    <a href="https://www.linkedin.com/in/ratnadeep-datta-6362bb328/" target="_blank" rel="noopener noreferrer"><img src="assets/icons/linkedin.svg" alt="LinkedIn"></a>
                </div>
            </div>

            <div class="footer-col">
                <h4>About Me</h4>
                <p>
                    I design and develop clean, responsive, and user-friendly websites
                    with a strong focus on performance and modern UI.
                </p>
            </div>

            <div class="footer-col">
                <h4>Contact</h4>
                <div class="footerIcon-item">
                    <img src="/assets/icons/phone.svg" alt="phone">
                    <a href="tel:+918974287067">+91 897 428 7067</a>
                </div>

                <div class="footerIcon-item">
                    <img src="/assets/icons/mail.svg" alt="mail">
                    <a href="mailto:ratnadeepdatta1996@gmail.com">
                        ratnadeepdatta1996@gmail.com
                    </a>
                </div>

            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 All Rights Reserved</p>
            <p>Made with ❤️ in Tripura by Ratnadeep</p>
        </div>
    </div>

</footer>